@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Lab Assessemnt 3
                    Created By <h1>Aadil s487681</h1>
                    Location : Footscray Campus
                </p>
                <h1>About</h1>
                <p>
                    APTA (Asia Pacific Tourism Association) is devoted to the tourism and hospitality
                    research in the area of Asia Pacific. APTA annual conference has a tradition of
                    interesting and productive academic  meetings in a relaxed and pleasant atmosphere,
                    attracting leading researchers in a variety of fields of tourism and hospitality.
                </p>
            </div>
        </div>
    </div>
    </div>
   
    
             
      